:root {
    --vt-c-white: rgb(228, 228, 228);
    --vt-c-white-soft: rgb(240, 240, 240);
    --vt-c-white-mute: rgb(250, 250, 250);

    --vt-c-black: rgb(32, 28, 39);
    --vt-c-black-soft: rgb(42, 36, 51);
    --vt-c-black-mute: rgb(53, 46, 64);

    --vt-c-blacker: rgba(26, 24, 33);

    --vt-c-indigo: rgb(19, 25, 30);

    --vt-c-divider-light-1: rgba(49, 42, 58, 0.29);
    --vt-c-divider-light-2: rgba(49, 42, 58, 0.12);
    --vt-c-divider-dark-1: rgba(72, 61, 85, 0.85);
    --vt-c-divider-dark-2: rgba(72, 61, 85, 0.88);

    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(19, 25, 30, 0.86);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.74);

    --btr-a: rgb(188, 243, 255);
    --btr-at: rgba(247, 205, 255, 0.1);
    --btr-ad: rgb(141, 191, 191);
    --btr-gradient: linear-gradient(
        270deg,
        rgb(146, 144, 187) 0%,
        rgba(200, 208, 215, 1) 100%
    );

    --color-danger: #fc5879;

    --btr-ab: #ad71e9;

    --section-gap: 160px;

    --rounded-common: 0.75rem;
    --rounded-uncommon: 0.25rem;
    --rounded-rare: 1.75rem;
}

:root,
body.dark {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-background-darker: var(--vt-c-blacker);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
}

body.light {
    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);

    --color-background-darker: var(--vt-c-white-mute);

    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-2);

    --btr-a: rgb(34, 109, 126);
    --btr-at: rgba(236, 143, 255, 0.3);
    --btr-ad: rgb(65, 155, 155);
    --btr-gradient: linear-gradient(
        90deg,
        rgb(203, 203, 243) 0%,
        rgba(240, 248, 255, 1) 100%
    );
    --btr-ab: #954cdd;

    --color-danger: #911d34;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-background: var(--vt-c-white);
        --color-background-soft: var(--vt-c-white-soft);
        --color-background-mute: var(--vt-c-white-mute);

        --color-background-darker: var(--vt-c-white-mute);

        --color-border: var(--vt-c-divider-light-2);
        --color-border-hover: var(--vt-c-divider-light-1);

        --color-heading: var(--vt-c-text-light-1);
        --color-text: var(--vt-c-text-light-2);

        --btr-a: rgb(34, 109, 126);
        --btr-at: rgba(236, 143, 255, 0.3);
        --btr-ad: rgb(65, 155, 155);
        --btr-gradient: linear-gradient(
            90deg,
            rgb(203, 203, 243) 0%,
            rgba(240, 248, 255, 1) 100%
        );
        --btr-ab: #954cdd;

        --color-danger: #911d34;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.6;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
