@import "./base.css";

#app {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
    font-weight: normal;
}

.hidden {
    display: none;
}

.danger {
    color: var(--color-danger);
}

h1 {
    color: var(--color-heading);
}

a {
    text-decoration: none;
    color: var(--btr-a);
    transition: 0.2s;
    padding: 3px;
}

@media (hover: hover) {
    a:hover {
        background-color: var(--btr-at);
    }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }

    #app {
        display: grid;
        grid-template-columns: 1fr 10fr;
        padding: 0 2rem;
    }
}
