name: Build Vue
on:
  push:
    branches:
      - main
jobs:
  build_vue:
    runs-on: ubuntu-latest
    name: Build Vue
    steps:
    - uses: actions/checkout@v3
    - id: Build-Vue
      uses: liliththecatpire/VuePagesAction@1.1
      with:
        username: 'btrbaka'
        reponame: 'btrbaka'
        token: ${{ secrets.GITHUB_TOKEN }}
